.label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
}

.label-est {
    background-color: lightpink;
}

.label-monitor {
    background-color: yellow;
}

.label-final {
    background-color: green;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.action svg {
    cursor: pointer;
}